@model Usuario

<div id="user">
    <div class="user-container-fixed">
        <div class="user-container">
            <h1>@Model.Nombres @Model.Apellidos</h1>
            <img class="pic" style="max-width:150px" src="~/uploads/@Model.Foto" title="@Model.Nombres @Model.Apellidos" />
            <span class="title">Teléfono</span>
            <span class="description">@Model.Telefono</span>
            <span class="title">Email</span>
            <span class="description"><a href="mailto:@Model.Email">@Model.Email</a></span>
            <span class="title">Dirección</span>
            <span class="description">
                @Model.Direccion
                <br />
                @Model.Ciudad
                <br />
                @Model.Pais.Descripcion
            </span>
        </div>
    </div>
</div>