@model Usuario
@{
    ViewBag.Title = "Index";
}

@if (Model.Experiencias.Count > 0)
{
    <h2 class="title title-blue">
        <i class="fa fa-briefcase pull-right"></i>
        Empleos previos
    </h2>
    foreach (var trabajo in Model.Experiencias.Where(x => x.Tipo == 1).ToList())
    {
        <div class="list well well-sm">
            <div class="list-heading">
                @trabajo.Nombre <small class="list-heading-date">@trabajo.Desde - @(trabajo.Hasta.Length == 0 ? "Actualmente" : trabajo.Hasta) </small>
                <span class="list-heading-subtitle">@trabajo.Titulo</span>
            </div>
            <div class="list-description">
                <p>@trabajo.Descripcion</p>
            </div>
        </div>
    }
}

@if (Model.Habilidades.Count > 0)
{
    <h2 class="title title-blue">
        <i class="fa fa-line-chart pull-right"></i>
        Habilidades obtenidas
    </h2>
    <ul class="list-group">
        @foreach (var habilidad in Model.Habilidades)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2">
                        <b>@habilidad.Nombre</b>
                    </div>
                    <div class="col-lg-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@habilidad.Dominio" aria-valuemin="0" aria-valuemax="100" style="width: @habilidad.Dominio%">@habilidad.Dominio %</div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}

@if (Model.Experiencias.Where(x => x.Tipo == 2).ToList().Count > 0)
{
    <h2 class="title title-blue">
        <i class="fa fa-university pull-right"></i>
        Estudios realizados
    </h2>
    foreach (var estudio in Model.Experiencias.Where(x => x.Tipo == 2).ToList())
    {
        <div class="list well well-sm">
            <div class="list-heading">
                @estudio.Nombre <small class="list-heading-date">@estudio.Desde - @(estudio.Hasta.Length>0?estudio.Hasta:"Actualmente")</small>
                <span class="list-heading-subtitle">@estudio.Titulo</span>
            </div>
            <div class="list-description">
                <p>@estudio.Descripcion</p>
            </div>
        </div>
    }
}


<h2 class="title title-blue">
    <i class="fa fa-comment pull-right"></i>
    Testimonios
</h2>

<div class="form-group">
    <label>Nombre</label>
    <input class="form-control" placeholder="Ingresa tu Nombre" />
</div>

<div class="form-group">
    <label>Testimonio</label>
    <textarea class="form-control" placeholder="Ingresa tu testimonio"></textarea>
</div>

<div class="text-right">
    <button class="btn btn-lg btn-primary">
        Enviar
    </button>
</div>

<hr />

@if (Model.Testimonios.Count > 0)
{
    <div class="media">
        <div class="media-body">
            @foreach(var testimonio in Model.Testimonios)
            {
                <h4 class="media-heading">
                    @testimonio.Nombre <small>Enviado el @testimonio.Fecha</small>
                </h4>
                <div class="well well-sm">
                    @testimonio.Comentario
                </div>
            }
        </div>
    </div>
}